<style>
   #atcToast{
       position: fixed;
    left: 0;
    right: 0;
    top:140px;
    z-index: 10;
    }
  .atcToast{
    display:flex;
    gap:1rem;
    justify-content:center;
    align-items:center;
    padding:0.8rem 16px 0.8rem 14px;
    border-radius: 4px;
    border: 1px solid rgba(98, 189, 129, 0.40);
    border-left:4px solid #62BD81;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(75, 75, 75, 0.25);
    width:370px;
    margin:0 auto;

  }
  .atcToast span{
    color: #06374F;
    font-family: 'AvenirRegular';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media(max-width:550px){
    #atcToast{
      top: 100px;
    }
    .atcToast span{
    color: #06374F;
    font-family: 'AvenirRegular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
    .atcToast{
      width:340px;
      padding:0.8rem 6px 0.8rem 4px;
      gap:0.5rem;

    }
  }
</style>

{% unless product.title == 'Test Peek-A-Boo | Cancel Order | Do Not Ship' %}
  <div id="atcToast" style="display:none">
  <div class="atcToast">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
      <path d="M14 2.625C7.72789 2.625 2.625 7.72789 2.625 14C2.625 20.2721 7.72789 25.375 14 25.375C20.2721 25.375 25.375 20.2721 25.375 14C25.375 7.72789 20.2721 2.625 14 2.625ZM19.9199 10.1877L12.5699 18.9377C12.4893 19.0338 12.389 19.1113 12.2758 19.1652C12.1625 19.2191 12.039 19.248 11.9137 19.25H11.8989C11.7763 19.25 11.655 19.2241 11.543 19.1742C11.431 19.1243 11.3307 19.0513 11.2487 18.9602L8.09867 15.4602C8.01867 15.3753 7.95644 15.2753 7.91564 15.1661C7.87483 15.0568 7.85628 14.9405 7.86106 14.824C7.86584 14.7075 7.89387 14.5931 7.94349 14.4876C7.99311 14.3821 8.06332 14.2875 8.15001 14.2095C8.23669 14.1315 8.33809 14.0716 8.44826 14.0333C8.55842 13.9951 8.67511 13.9792 8.79149 13.9867C8.90786 13.9942 9.02157 14.0249 9.12592 14.0769C9.23027 14.129 9.32317 14.2014 9.39914 14.2898L11.8759 17.0417L18.5801 9.06227C18.7305 8.8884 18.9432 8.7807 19.1724 8.76244C19.4015 8.74418 19.6286 8.81683 19.8047 8.96468C19.9807 9.11254 20.0914 9.32372 20.113 9.55258C20.1346 9.78144 20.0652 10.0096 19.9199 10.1877Z" fill="#62BD81"/>
    </svg>
    <span>Product(s) added to cart</span>
  </div>
</div>
{% endunless %}
<script>
     function showATC() {
      // Show the toast
      document.getElementById("atcToast").style.display = "block";

      // Hide the toast after 3 seconds
      setTimeout(function() {
        document.getElementById("atcToast").style.display = "none";
      }, 2000); // 3000 milliseconds = 3 seconds
    }
</script>