
<!-- HTML -->
<div id="cart-progress-container" data-free-amt="{{ settings.free-gift-amt }}">
    <h3 id="cart-progress-text"></h3>
    <div id="progress-bar-background">
        <div id="progress-bar-fill"></div>
    </div>
</div>



