{% if settings.goEnable %}
<div class=" ch gokwik-checkout"{% if settings.hideFlow %} style="display:none !important;" {% endif %}>
<button type='button' class="btn disabled" disabled onclick="onCheckoutClick(this)">
            <span class="btn-text" >
                <span>{{ settings.main-titile }}</span>
                <span>{{ settings.sub-titile }}</span>
            </span>
          <span class="pay-opt-icon">
             <!-- <img src="https://cdn.gokwik.co/v4/images/upi-icons.svg">
             <img src="https://cdn.gokwik.co/v4/images/right-arrow.svg"> -->
         
 </span>
    <div style="display:none" class="addloadr" id="btn-loader"><div class="cir-loader">Loading..</div></div>
  </button>
 {% comment %}  <a href="/checkout" class="checkoutbtn btn{% if settings.terms_cond_checkbox_show %} disabled{% endif %}">{{ 'cart.header.checkout' | t }}</a>{% endcomment %}
</div>
{% endif %}