{%- if settings.header_design == "header_type_5" -%}
{%- else -%}
{%- if settings.search_is_open -%}
<div class="tt-parent-box tt-desctop-parent-headtype1">
  <div class="tt-search-opened-headtype1 headerformplaceholderstyles">
    <form action="{{ routes.search_url }}" method="get" role="search">
      <button type="submit" class="tt-btn-search"  aria-label="search">
        <img  id="skill_search"  src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/search_30x30.webp?v=1726898063" alt="" srcset="" width="30px" height="30px" >
      </button>
      <input class="tt-search-input"
             type="search"
             name="q" id="skill_search_type"
             placeholder="{{ 'general.search.place_holder' | t }}">
      <input type="hidden" name="type" value="product" />
    </form>
  </div>
</div>
{%- endif -%}
{%- endif -%}

{%- include "menu-search" -%}

{%- include "menu-cart" -%}
{% comment %}{%- include "menu-customer" -%}{% endcomment %}

{%- if item.show_options_links -%}
<!-- tt-langue and tt-currency -->
<div class="tt-desctop-parent-multi tt-parent-box">
  <div class="tt-multi-obj tt-dropdown-obj">
    <button class="tt-dropdown-toggle"
            data-tooltip="{{ 'general.tooltip_texts.header_settings' | t }}"
            data-tposition="bottom"
            ><i class="icon-f-79"></i></button>
    <div class="tt-dropdown-menu">
      <div class="tt-mobile-add">
        <button class="tt-close">Close</button>
      </div>
      <div class="tt-dropdown-inner">
        {%- include "menu-language" -%}
        {%- include "menu-currency" -%}
      </div>
    </div>
  </div>
</div>
<!-- /tt-langue and tt-currency -->
{%- endif -%}



<script>
  function filterSearch() {
    var searchQuery = document.getElementById("search-input").value.toLowerCase();
    
    // If search query contains "gift", prevent form submission or modify query
    if (searchQuery.includes("gift")) {
      // Optionally, you could replace the query with something else
      document.getElementById("search-input").value = searchQuery.replace("gift", "");
      
      // You can also show a message to users saying that products with the word "gift" are excluded.
      alert("Products with the word 'gift' are excluded from the search results.");
      
      // You can prevent form submission by returning false
      return false;
    }
    
    // If the query does not contain "gift", allow form submission
    return true;
  }
</script>
