<style>/* Container styling */
   .thank-you-container-page {
    justify-items: center;
}
  a.continue-btn:hover {
    color: white !important;
}
  .thank-you-text-container {
    display: flex; margin:0 auto;   max-width: 450px;
    flex-direction: column;
}
   div#tt-pageContent {
    background-color: #FDF7F4;
}
.thank-you-container {
    background-color: white;
    padding:40px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 98%;
}

/* Checkmark icon */
.thank-you-container .checkmark {
    font-size: 40px;
    color: #ffffff;
    background: #62BD81;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}

/* Heading */
.thank-you-container h2 {
    color: #06374F;padding-bottom: 0!important;
    font-size: 24px!important;   
}

/* Text styling */
.thank-you-container p {
    color: #06374F;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  font-family: 'AvenirRegular'!important;
}

/* Phone number link */
.thank-you-container .phone-number {
    color: #3980C3;
  font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 15px;
   font-family: 'AvenirRegular'!important;
}


/* Button styling */
.thank-you-container .continue-btn {
    background-color: #FF805A;
    color: white;
   font-family: 'AvenirRegular'!important;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.continue-btn:hover {
    background-color: #ff5a30;
}
 </style>
<div class="thank-you-container-page">
<div class="thank-you-container">
<div class="thank-you-text-container">
<div class="checkmark mobile-hide">✔</div>
<h2>Thank You!</h2>
<p>We’ll reach out with personalised recommendations in 24 hours! It may take a bit longer during holidays or on peak days, but we promise to revert as soon as we can :)</p>
  
<p>For quicker assistance, feel free to call or text us on</p>
<a href="tel:+918422822545" class="phone-number">+ 91 8422822545</a> <a href="/collections/bestsellers" class="continue-btn">Continue Shopping</a></div>
</div>
</div>