<div class="container-indent design-1">
  {% include "product_page_1_gallery_test" type: "mobile" %}
  <div class="container container-fluid-mobile">
    <div class="row">
      {% include "product_page_1_gallery_test" type: item.gallery_type %}
      <div class="col-6">
      	{% include "product_page_1_description" %}
      </div>
    </div>
  </div>
</div>