@media (max-width: 789px) {
  .tt-breadcrumb li {
    display: list-item;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .customslider-grid{  padding-bottom: 30px;}
.customslider-grid .tt-blog-thumb {padding: 0 10px;}
}
.tt-layout-01-post .tt-post .tt-post-content .tt-title a,.tt-blog-thumb .tt-title-description .tt-title a {  
    -webkit-line-clamp: 2;-webkit-box-orient: vertical;
    overflow: hidden;min-height: 64px;display: -webkit-box;
}
.tt-post .tt-description {  
    -webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;
    min-height: 64px;display: -webkit-box;
}
.blogpagebtn { margin-top: 10px;}
@media (min-width: 790px) {
.customslider-grid{  padding-bottom: 40px;}
}
.tt-blog-thumb-list .customslider-grid {
  padding-bottom: 0px;
}